<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="LinqToSql.Properties.Settings.CompanyDBConnectionString"
            connectionString="Data Source=COGNINE-L31\SQLEXPRESS;Initial Catalog=CompanyDB;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="LinqToSql.Properties.Settings.suprajaConnectionString"
            connectionString="Data Source=cognine-l31\sqlexpress;Initial Catalog=supraja;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>